#aboutMe {
  background-color: $background_color;
  .about-container {
    width: 65%;
    margin: auto;
    min-height: 80vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 5rem;

    .aboutMe-portrait {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1 1 30rem;
      align-self: flex-end;
      background: linear-gradient(180deg, $background_color, white, white);
      border-radius: 4rem;
      padding: 5rem 5rem;

      img {
        height: auto;
        width: 40rem;
        object-fit: cover;
      }
    }

    .aboutMe-text {
      flex: 1 1 30rem;
      align-self: flex-end;
      margin-left: 2rem;
      h3 {
        margin-bottom: 8rem;
        line-height: 1.2;
      }

      p {
        margin: 2.5rem 0rem;
        line-height: 1.5;
        font-size: 2rem;
        color: #5a6066;
      }
    }
  }
}

@media screen and (max-width: 1660px) {
  #aboutMe {
    .about-container {
      .aboutMe-portrait {
        align-self: center;
        img {
          width: 35rem;
        }
      }
      .aboutMe-text {
        align-self: center;
        h3 {
          font-size: 3rem;
        }
        p {
          font-size: 1.8rem;
        }
      }
    }
  }
}

@media screen and (max-width: 1466px) {
  #aboutMe {
    .about-container {
      min-height: 50vh;
      .aboutMe-portrait {
        img {
          width: 30rem;
        }
      }
      .aboutMe-text {
        h3 {
          font-size: 3rem;
        }
        p {
          font-size: 1.6rem;
        }
      }
    }
  }
}

@media screen and (max-width: 1308px) {
  #aboutMe {
    .about-container {
      .aboutMe-portrait {
        img {
          width: 30rem;
        }
      }
      .aboutMe-text {
        h3 {
          font-size: 2.6rem;
          margin-bottom: 3rem;
        }
        p {
          font-size: 1.6rem;
        }
      }
    }
  }
}

@media screen and (max-width: 1208px) {
  #aboutMe {
    .about-container {
      .aboutMe-portrait {
        img {
          width: 26rem;
        }
      }
      .aboutMe-text {
        h3 {
          font-size: 2.4rem;
          margin-bottom: 3rem;
        }
        p {
          font-size: 1.4rem;
        }
      }
    }
  }
}

@media screen and (max-width: 1094px) {
  #aboutMe {
    .about-container {
      .aboutMe-portrait {
        align-self: flex-start;
        img {
          width: 21rem;
        }
      }
      .aboutMe-text {
        align-self: flex-start;
        h3 {
          font-size: 2.1rem;
          margin-bottom: 3rem;
        }
        p {
          font-size: 1.2rem;
        }
      }
    }
  }
}

@media screen and (max-width: 1050px) {
  #aboutMe {
    .about-container {
      min-height: 30vh;
      flex-direction: column;
      flex-wrap: nowrap;
      padding: 0rem;
      width: 60%;
      margin: auto;

      .aboutMe-portrait {
        display: none;
      }
      .aboutMe-text {
        margin: 0rem;
        margin-top: 2rem;
        padding: 1rem;
        text-align: center;
        h3 {
          margin-bottom: 2.5rem;
          font-size: 2rem;
          text-align: center;
        }
      }
    }
  }
}

@media screen and (max-width: 466px) {
  #aboutMe {
    .about-container {
      min-height: 40vh;
      flex-direction: column;
      width: 100%;
      flex-wrap: nowrap;
      padding: 0rem;

      .aboutMe-portrait {
        display: none;
      }
      .aboutMe-text {
        margin: 0rem;
        margin-top: 2rem;
        padding: 1rem;
        text-align: left;
        h3 {
          margin-bottom: 2.5rem;
          font-size: 2rem;
          text-align: center;
        }
      }
    }
  }
}
