$background_color: #d3dfeb;
$mainBlue: rgb(37, 42, 58);

html {
  font-size: 62.5%;
  $header1: calc(
    3rem + 1vw
  ); /* the bigger the screen gets the bigger the font gets*/
  $header2: calc(2.5rem + 1vw);
  $header3: calc(2rem + 1vw);
  $header4: calc(1.4rem + 1vw);
  $text: calc(0.3rem + 1vw);
  $big: calc(7.5rem + 1vw);

  scroll-behavior: smooth; /*slow down the animation for scrolling*/
}
