footer {
  .info {
    min-height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0rem 30%;
    color: white;
  }

  h2 {
    font-size: 5rem;
    line-height: 1.2;
    margin-bottom: 2.5rem;
  }

  p {
    padding: 0.5rem;
    line-height: 1.5;
    font-size: 2rem;
    color: #e3e7eb;

    span {
      position: relative;
      a {
        color: #e3e7eb;
        font-size: 2rem;
      }
    }
    span::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 4px;
      width: 100%;
      height: 0.3rem;
      background: $mainBlue;
      z-index: -1;
      transition: 250ms ease-in;
    }

    span:hover::after {
      cursor: pointer;
      height: 1.2rem;
      z-index: -1;
    }
  }
}

@media screen and (max-width: 1050px) {
  footer {
    .info {
      min-height: 35vh;
      width: 80%;
      margin: auto;

      h2 {
        font-size: 2.2rem;
        margin-bottom: 1.2rem;
      }
      p {
        font-size: 1.2rem;
        span {
          a {
            font-size: 1.2rem;
            border-bottom: 2px $mainBlue solid;
          }
        }
      }
    }
  }
}
