#main-head {
  min-height: 10vh;

  .menu-icon {
    display: none;
  }

  nav {
    background-color: $background_color;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 0.2rem 0rem;
    position: fixed;
    z-index: 2;
  }
  .nav-links {
    display: flex;
    align-items: center;
    flex: 1 1 15rem;
    justify-content: space-around;
    padding-right: 10rem;
    margin: 0.5rem 0rem;
  }

  .nav-links li {
    padding: 2rem;
  }

  .nav-links a:hover {
    animation: hoverheader 0.3s ease-in-out forwards;
  }

  #logo {
    flex: 1 1 25rem;
    text-align: center;
    margin: 0.5rem 0rem;
    font-size: 4.5rem;
  }
  .nav-icons {
    flex: 1 1 20rem;
    display: flex;
    justify-content: space-around;
    padding-left: 20rem;
    margin: 2rem 0rem;
  }
  .nav-icons img {
    padding: 0rem 2rem;
  }
}

@media screen and (max-width: 1050px) {
  #main-head {
    .menu-icon {
      display: inline;
      position: fixed;
      bottom: 1rem;
      right: 2rem;
      z-index: 2;
    }
    nav {
      position: relative;
    }
    #logo {
      order: 1;
      margin: 1rem 0rem;
    }
    .nav-icons {
      order: 2;
      padding: 0rem;
      margin-top: 1rem;
      margin-bottom: 0rem;
    }

    .nav-links {
      order: 3;
      display: none;
    }
  }
}

@keyframes hoverheader {
  from {
    padding-bottom: 2rem;
    border-bottom: 3px solid $background_color;
  }
  to {
    padding-bottom: 1rem;
    border-bottom: 3px solid $mainBlue;
  }
}
