#main-head {
  min-height: 8vh;
  background-color: white;

  .burger {
    display: none;
  }

  nav {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    background-color: white;
    z-index: 2;
    min-height: 8vh;

    .nav-links {
      display: flex;
      align-items: center;
      flex: 1 1 15rem;
      justify-content: space-around;
      padding-right: 10rem;

      li {
        padding: 2rem;
      }

      a {
        position: relative;
      }

      a::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 0.3rem;
        background: $mainBlue;

        transform: scaleX(0);
        transform-origin: right;
        transition: transform 250ms ease-in;
      }

      a:hover::after {
        transform: scaleX(1);
        transform-origin: left;
      }
    }
  }

  #logo {
    flex: 1 1 25rem;
    text-align: center;
    margin: 0.5rem 0rem;

    a {
      font-size: 4.5rem;
      cursor: pointer;
    }
  }
  .nav-icons {
    flex: 1 1 20rem;
    display: flex;
    justify-content: space-around;
    padding-left: 20rem;
    margin: 2rem 0rem;
    align-items: center;

    img {
      padding: 0rem 2rem;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 1050px) {
  #main-head {
    .burger {
      position: fixed;
      bottom: 2rem;
      right: 2rem;
      z-index: 10;
      display: block;
      cursor: pointer;
      background: white;
      padding: 1.5rem;
      border-radius: 4rem;
      transition: all 1s ease;
    }
    .burgerOut {
      position: fixed;
      bottom: 2rem;
      right: 2rem;
      z-index: 10;
      display: block;
      cursor: pointer;
      background: white;
      padding: 1.7rem 3.5rem;
      border-radius: 5rem;
      transition: all 1s ease;
    }
    .burger span {
      padding: 0.2rem 1.5rem;
      background: $mainBlue;
      display: block;
      margin: 0.5rem 0rem;
      transition: all 1s ease;
      border-radius: 3px;
    }
    .nav-links a {
      color: white;
      font-size: 4rem;
      text-decoration: underline;
      margin-left: 3rem;
    }
    .nav-links {
      background: $mainBlue;
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 100%;
      flex-direction: column;
      align-items: flex-start;
      transition: transform 1s ease;
      margin: 0rem;
    }

    .nav-open {
      transform: translateX(-100%); /*for js (add this class per click)*/
    }

    .toggle .line1 {
      transform: rotate(405deg) translateY(300%);
    }
    .toggle .line3 {
      transform: rotate(-405deg) translateY(-300%);
    }
    .toggle .line2 {
      opacity: 0;
    }

    nav {
      position: relative;
      .nav-links {
        .work {
          order: 3;
        }
        .about {
          order: 1;
        }
        .contact {
          order: 2;
        }
      }
      .nav-links a {
        animation: none;
      }
      #logo {
        order: 1;
        margin: 1rem 0rem;
        a {
          font-size: 4rem;
        }
      }
      .nav-icons {
        order: 2;
        padding: 0rem;
        padding-bottom: 1.5rem;
        margin-top: 1rem;
        margin-bottom: 0rem;
      }
    }
  }
}
