#hero {
  min-height: 90vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: $background_color;

  .hero-intro {
    padding: 0rem 20rem;
    flex: 2 1 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    h1 {
      font-size: $big;
    }
    p {
      padding: 0.5rem;
      line-height: 1.5;
    }
  }
  .hero-presentation {
    flex: 1 1 50rem;
    padding: 0rem 6rem 6rem 6rem;
    background-color: $background_color;
  }
  .hero-presentation img {
    object-fit: cover;
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 1050px) {
  #hero {
    min-height: 80vh;
    .hero-presentation {
      align-self: flex-start;
      background-color: white;
      border-radius: 1rem;
      padding: 5rem;
      margin: 0rem 3rem 3rem 3rem;
    }
    .hero-intro {
      padding: 0rem 5rem;
      h1 {
        font-size: 3rem;
        margin-bottom: 1.5rem;
        margin-top: 1rem;
      }
      p {
        font-size: 1.2rem;
      }
    }
  }
}
