#hero {
  min-height: 90vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: $background_color;

  .hero-intro {
    padding: 0rem 20rem;
    flex: 2 1 50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    h1 {
      font-size: $big;
    }
    p {
      padding: 0.5rem;
      line-height: 1.5;
    }
  }
  .hero-presentation {
    flex: 1 1 50rem;
    padding: 0rem 6rem 6rem 6rem;
    background-color: $background_color;
  }
  .hero-presentation img {
    object-fit: cover;
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 1050px) {
  #hero {
    min-height: 80vh;
    .hero-presentation {
      margin: 0rem auto;
      align-self: flex-start;
      padding-bottom: 1rem;
    }

    .hero-intro h1 {
      font-size: 3.5rem;
      margin-bottom: 1.5rem;
      margin-top: 1rem;
    }
    .hero-intro p {
      font-size: 1.2rem;
    }
    .hero-intro {
      padding: 0rem;
    }
  }
}
