#work {
  min-height: 100vh;
  background: linear-gradient(180deg, $background_color, white, white, white);

  .work-examples {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .work-container {
    text-align: center;
  }

  img {
    width: 80%;
    margin: 10rem;
    border-radius: 3rem;
    animation: backWorkHover 0.5s forwards;
    cursor: pointer;
  }
  img:hover {
    animation: workHover 0.5s ease-in-out forwards;
  }
}

@media screen and (max-width: 1050px) {
  #work {
    img {
      border-radius: 1rem;
      margin: 2rem;
    }
  }
}
